$logBackground: #424040;
$panelBackground: #807c7c;

.ActivityLog {
  font-size: 1.3rem;
  background: $logBackground;
  .Selectors-container {
    padding: 5px;

    .panel-header {
      background: $panelBackground;
    }
    .Selectors-title {
      color: antiquewhite;
    }
    .AccordionDetails{
      padding: 0;
      .Selectors-checkboxes {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        padding: 5px;

        &:nth-last-child(1) {
          background: burlywood;
        }

        .checkbox-container {
          font-size: 1rem;
        }
      }

    }
  }

  .messages-container {
    padding: 5px;
    overflow-y: auto;
    max-height: 200px;

    .message {

      &.INFO {
        color: whitesmoke;
      }
      &.SUCCESS {
        color: lawngreen;
      }
      &.WARNING {
        color: yellow;
      }
      &.ERROR {
        color: indianred;
      }
    }
  }
}